@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}
header{
    /* border: 1px solid; */
    width: 96%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
}
h1,img{
    margin-left: 15px;
}
p,button{
    margin-left: 15px;
}
.nav1{
    /* border: 1px solid; */
    width: 42%;
    margin-left: auto;
}
.logo{
    width: 100px;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 20px;   
}
.nav-link{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.getstarted-btn{
   
}
.getstarted-btn>button{
    width: 150px;
    border-radius: 20px;
    /* border: 1px solid; */
    font-size: 600;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
     background-color: rgb(237, 28, 36);
    color: white;
    
}
.section1{
    /* border: 1px soli d; */
    width: 70%;
    text-align: center;
    margin: auto;

}
.h1{
    font-size: 60.104px;
    font-weight: 700;
}
.p1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
.container{
    /* border: 1px solid; */
    width: 94%;
    height: 450px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    
}
.div1{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div2{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(238, 134, 149);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn1{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(243, 171, 181) ;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div4{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(224, 147, 150);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn2{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(233, 180, 182);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div5{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div6{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(207, 232, 255);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn3{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(221, 239, 255) ;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ROW 2 */
.container2{
    /* border: 1px solid; */
    width: 94%;
    height: 450px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    
}
.div7{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div8{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-color: rgb(145, 164, 199);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn4{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(178, 191, 216);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div9{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div10{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-color: rgb(255, 128, 210);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn5{
    width: 140px;
    height: 40px;
    margin-top: 90px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(255, 166, 224);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div11{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div12{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-color: rgb(173, 155, 202);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn6{
    width: 140px;
    height: 40px;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(198, 185, 218);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ROW 3 */
.container3{
    /* border: 1px solid; */
    width: 94%;
    height: 450px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    
}
.div13{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div14{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color:rgb(148, 205, 198);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn7{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(191, 225, 221);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div15{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div16{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(127, 153, 223);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn8{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(166, 184, 233);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div17{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div18{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(127, 185, 184);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn9{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(166, 206, 205) ;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ROW 4 */
.container4{
    /* border: 1px solid; */
    width: 94%;
    height: 450px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    
}
.div19{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 60px;
    color: white;
}
.div20{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color:rgb(254, 220, 136);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn10{
    width: 140px;
    height: 40px;
    margin-top: 70px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(254, 231, 172);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div21{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div22{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(217, 204, 192);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn11{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(228, 219, 211);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div23{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div24{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(224, 147, 150);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn12{
    width: 140px;
    height: 40px;
    margin-top: 70px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(233, 180, 182) ;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ROW 5 */
.div25{
    /* border: 1px solid; */
    width: 400px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562)), url(./media/image\ 13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    padding-top: 100px;
    color: white;
}
.div26{
    /* border: 1px solid; */
    width: 400px;
    height: 200px;
    background-color: rgb(157, 200, 159);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 0px 0px 20px 20px;
}
.readmore-btn13{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 20px;
    background-color:rgb(187, 217, 188) ;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container5{
    /* border: 1px solid; */
    width: 94%;
    height: 450px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}
    .section2{
    /* border: 1px solid ; */
    width: 94%;
    height: 600px;
    margin: 50px auto;
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 700 ;
    line-height: 55.8818px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
span{
    color: rgb(237, 28, 36);
}
.img2{
    height: 120px;
    margin-top: 40px;
}
.div27{
    /* border: 1px solid; */
    width: 900px;
    margin: 20px auto;
}
.div28{
    /* border: 1px solid; */
    width: 1200px;
    margin: 20px auto;
}